<!DOCTYPE html>
<html lang="en">
<head>
    <title>Agregar Producto</title>
    <link rel="stylesheet" href="/css/styles-create.css">
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <div class="create-body">
            <div class="create-box">
                <div class="create-paddin">
                    <p class="create-tittle">AGREGAR UN NUEVO PRODUCTO</p>
                    <form action="/productDetail/create" method="POST">
                        <div class="input-create">
                            <label for="nombre">Nombre del Juego</label></BR>
                            <input type="text" name="nombre" id="nombre"> 
                        </div>
                        <div class="input-create">
                            <label for="descripcion">Descripcion del Juego</label></BR>
                            <textarea type="text" name="descripcion" id="descripcion"></textarea>
                        </div>
                        <p>Plataformas</p>
                        <div class="plataformas">
                            <div class="checkbox-create">
                                <label for="nombre">
                                    <input type="checkbox" name="formulario" value="terminos">Playstation</input>
                                </label>
                            </div>
                            <div class="checkbox-create">
                                <label for="nombre">
                                    <input type="checkbox" name="formulario" value="recibir">Xbox</input>
                                </label>
                            </div>
                            <div class="checkbox-create">
                                <label for="nombre">
                                    <input type="checkbox" name="formulario" value="recibir">Pc</input>
                                </label>
                            </div>
                            <div class="checkbox-create">
                                <label for="nombre">
                                    <input type="checkbox" name="formulario" value="recibir">Android</input>
                                </label>
                            </div>
                            <div class="checkbox-create">
                                <label for="nombre">
                                    <input type="checkbox" name="formulario" value="recibir">Ios</input>
                                </label>
                            </div>
                        </div>
                        <p>Formato</p>
                        <div class="plataformas">
                            <div class="checkbox-create">
                                <label for="nombre">
                                    <input type="checkbox" name="formulario" value="terminos">Fisico</input>
                                </label>
                            </div>
                            <div class="checkbox-create">
                                <label for="nombre">
                                    <input type="checkbox" name="formulario" value="recibir">Digital</input>
                                </label>
                            </div>
                        </div>
                        <div class="checkbox-create">
                            <label for="text">Género:</label>
                                <select name="combo" >
                                    <option>Acción</option>
                                    <option>Deportes</option>
                                    <option>Aventura</option>
                                    <option>Terror</option>
                                </select>
                            </div>
                        </div>
                        <div class="input-create">
                            <input type="file" multiple  name="imagenLogo" id="imagenLogo"> 
                        </div>
                        <div class="input-create">
                            <label for="precio">Precio</label></BR>
                            <input type="number" name="precio" id="precio"> 
                        </div>
                        <div class="button-submit">
                            <button type="submit" class="submit-agregar-producto"><span>Agregar Producto</span></button>
                        </div>
                    </form>
                </div>         
            </div>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>

<div class="input-create">
    <label for="name">Nombre del Juego</label></BR>
    <input type="text" name="name" id="name"> 
</div>