<!DOCTYPE html>
<html lang="en">
<head>
    <title>Detalle del Producto</title>
    <link rel="stylesheet" href="/css/styles-productDetail.css">
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <div class="product-detail">
            <div class="contenedor-1">
                <div class="body-product">
                    <h1 class="nombre-producto">FIFA 2022</h1>
                    <a href=""><img src="/imagenes/fifa-2022.jpg"></a>
                    <div class="mas-imagenes">
                        <img src="/imagenes/fifa2022-1.jpg" alt="">
                        <img src="/imagenes/fifa2022-5.jpg" alt="">
                        <img src="/imagenes/fifa2022-3.jpg" alt="">
                        <img src="/imagenes/fifa2022-4.jpg" alt="">
                    </div>
                    <div class="precio-carrito">
                        <p>ARS$5.499,00</p>
                        <div class="button-addcart">
                            <a href="#" class="button-iniciar-sesion"><span>Añadir al Carrito</span></a>
                        </div>
                    </div>
                </div>
                <div class="button-seguircomprando">
                    <a href="/">
                        <span>Seguir comprando</span>
                    </a>
                </div>
            </div>
            <div class="contenedor-2">
                <div class="detalle-producto">
                    <h2>ACERCA DE ESTE JUEGO</h2>
                    <BR>
                    <h3>Powered by Football™. EA SPORTS™ FIFA 22 acerca aún más el juego a la realidad gracias a mejoras significativas en la jugabilidad y una nueva temporada de novedades en todos los modos.</h3>
                    <BR>
                    <h2>¿Qué es FIFA?</h2>
                    <BR>   
                    <h3>Juega al juego del mundo con más de 17 000 jugadores, más de 700 equipos, más de 90 estadios y más de 30 ligas de todo el mundo.</h3>
                    <BR>
                    <h2>MODOS DE JUEGO</h2>
                    <BR>
                    <h3>Modo Carrera :vive tus sueños con FIFA 22, ya sea como mánager o como futbolista. Crea el club más nuevo de FIFA, diseña tus equipaciones y tu estadio y decide si quieres competir con la élite o ascender desde las divisiones inferiores mientras encaminas a tu club hacia la gloria. También puedes probar tus habilidades como futbolista con un modo Carrera de jugador más inmersivo, que te dará más formas de progresar, alcanzar tus objetivos y sumergirte en tu viaje Pro mediante el juego.</h3>
                    <BR>
                    <h3>VOLTA FOOTBALL: vuelve a conquistar las calles con VOLTA FOOTBALL. Crea tu futbolista, elige tu equipación y exprésate a tu manera, por tu cuenta o con tu plantilla, en las calles y pistas de fútbol de todo el mundo. Consigue recompensas por tu habilidad con el balón gracias al nuevo estilo de juego rediseñado y juega cada temporada a eventos únicos que tienen lugar en emplazamientos especiales, al tiempo que desbloqueas nuevo equipamiento mediante un nuevo sistema de progreso en la temporada, que te permite ganar XP en todas las recompensas que se ofrecen en VOLTA FOOTBALL sin importar el modo al que juegues.</h3>
                    <BR>
                    <h3>FIFA Ultimate Team : Participa en el modo más popular de FIFA, FIFA Ultimate Team. Crea el equipo de tus sueños con miles de futbolistas del mundo del fútbol. Crea tu propio club dentro y fuera del campo y dales equipamiento personalizado, insignias y un estadio de FUT completo en el que poder dejar tu huella, y haz que equipo juegue partidos contra la IA u otros jugadores de la comunidad FUT. Además, da la bienvenida a algunos de los jugadores más memorables del fútbol en forma de nuevos héroes de FUT: ¡algunas de estas leyendas del fútbol ahora regresan al campo!</h3>
                </div>
            </div>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>

