*{
    padding: 0;
    margin: 0;
    font-family: 'roboto';
    box-sizing: border-box;
}

.encabezado{
    background-color: rgb(50, 50, 50);
}

.encabezado section{
    padding: 15px;
    display: flex;
    align-items: center;
}

.burger-menu{
    text-align: center;
    font-size: 30px;
}

.burger-menu i{
    color: white;
    margin: 10px;
    font-size: 0px;
}

.logo{
    width: 15%;
    max-width: 100px;
    margin: auto;
}

nav{
    background-color: #417a9b;  
    padding: 15px;
}

ul{
    list-style:none;
}

a{
    color: white;
    text-decoration: none;
    border-top: 10px;
    border-bottom: 10px;
}

nav ul li div{
    display: flex;
}

.input{
    color: black;
    width: 100%;
    background-color: white;
    border: solid 1px black;
}

.submit{
    color: black;
    background-color: white;
    border: solid 1px black;
}

main{
    background-color: #2A475E;
    display: flex;
}

.explorador{
    display: none;
}

h2{
    font-size: 20px;
    color: white;
    padding-bottom: 5px;
}

.destacados{
    width: 100%;    
    max-width: 800px;
    padding-top: 30px;
    border: solid 5px #2A475E;
    margin: auto;
}

.destacados article img{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.destacados img{
    width: 100%;
    margin-bottom: 25px;
}

.ofertas-especiales{
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.ofertas-especiales img{
    width: 33%;
}

footer{
    padding: 5px;
    background-color: black;
}

.pie-pagina{
    color: white;
}

.iconos{
    display: flex;
    justify-content: space-around;
}

@media(min-width: 910px){
    nav ul{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}

@media(min-width:1100px){
    .explorador h2{
        font-size: 20px;
        padding-left: 10px;
        color: #b2b2bf;
    }

    .explorador{
        padding-top: 30px;
        display: block;
    }
    
    .explorador ul{
        padding: 10px;
    }
    .explorador ul li{
        padding: 5px;
    }
}