*{
    padding: 0;
    margin: 0;
    font-family: 'roboto';
    box-sizing: border-box;
}

.encabezado{
    background-color: rgb(50, 50, 50);
}

.encabezado section{
    padding: 15px;
    display: flex;
    align-items: center;
}

.burger-menu{
    text-align: center;
    font-size: 30px;
}

.burger-menu i{
    color: white;
    margin: 10px;
    font-size: 35px;
}

.logo{
    width: 15%;
    max-width: 100px;
    margin: auto;
}

nav{
    background-color: #417a9b;  
    padding: 15px;
}

.barra li{
    margin: 10px 10px 10px 0px;
}

ul{
    list-style:none;
}

a{
    color: white;
    text-decoration: none;
    border-top: 10px;
    border-bottom: 10px;
}

nav ul li div{
    display: flex;
}

.input{
    color: black;
    width: 100%;
    background-color: white;
    border: solid 1px black;
}

.submit{
    color: black;
    background-color: white;
    border: solid 1px black;
}

main{
    background-color: #2A475E;
    display: flex;
}

.explorador{
    display: none;
}

h2{
    font-size: 20px;
    color: white;
    padding-bottom: 5px;
}

.destacados{
    width: 100%;    
    max-width: 900px;
    padding-top: 30px;
    border: solid 5px #2A475E;
    margin: auto;
}

.foto-principal{
    box-shadow: 0px 0px 10px rgba(149, 149, 149, 1);
}

.destacados img{
    width: 100%;
    margin-bottom: 25px;
}

.ofertas-especiales{
    display: none;
}

.ofertas-especiales img{
    width: 33%;
}

.banner-iniciar-sesion{
    background-color: rgba( 0,0,0,0.2);
    text-align: center;
    font-size: 15px;
    padding: 10px;
    color: #b2b2bf;
    margin-bottom: 60px;
}   

.button-iniciar-sesion{
    padding: 3px;
    border: solid 1px black;
    border-radius: 7px;
    background: linear-gradient( to right, #75b022 5%, #588a1b 95%)
}

.button-iniciar-sesion span{
    padding: 0px 15px;
    font-size: 15px;
    line-height: 60px;
}

.otros-juegos .juegos article{
    background-color: #303030;
    margin: 5px 0 5px 0;
    box-shadow: 0px 0px 10px rgba(149, 149, 149, 0.5);
}

.otros-juegos .juegos img{
    margin: 0;
}

.main-class{
    padding: 5px;
    color: white;
}

.plataformas{
    color: #b2b2bf;
    display: flex;
}

.plataformas p i{
    margin: 12px 7px 0px 0px;
}

.descuento-precio{
    color: #b2b2bf;
    display: flex;
    justify-content: flex-end;
    padding-top: 5px;
}

.descuento{
    font-size: 26px;
    background-color: #4c6b22;
    color: #a4d007;
    padding: 0px 5px;
}

.precio{
    background-color: black;
    font-size: 26px;
    padding: 0px 5px;
}

footer{
    padding: 5px;
    background-color: black;
}

.pie-pagina{
    color: white;
}

.iconos{
    display: flex;
    justify-content: space-around;
}

@media (min-width: 360px){

    .ofertas-especiales{
        display: flex;
        justify-content: space-between;
        margin: auto;
    }

    .juegos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .juegos article{
        width: 100%;
    }
}

.login-body{
    width: 90%;
    display: flex;
    border: solid 1px white;
    display: flex;
    justify-content: center;
    margin: auto;
}

.login-body .login-box{
    border: solid 1px red;
}

.login-body .login-box .login-paddin .login-tittle{
    text-transform: uppercase;
    color: white;
    text-align: center;
    letter-spacing: 2px;
    font-size: 34px;
    margin-bottom: 35px;
}

.login-paddin .input-login{
    border: solid 1px black;
}

@media(min-width: 910px){
    .juegos article{
        width: 49%;
    }

    nav ul{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}

@media(min-width:1100px){
    .explorador h2{
        font-size: 20px;
        padding-left: 10px;
        color: #b2b2bf;
    }

    .explorador{
        padding-top: 30px;
        display: block;
    }
    
    .explorador ul{
        padding: 10px;
    }
    .explorador ul li{
        padding: 5px;
    }

    .juegos article{
        width: 32%;
    }
}