<footer>
    <div class="pie-pagina">
        <p>Visita otros canales de ACME GAMES</p>
        <div class="iconos">
            <a href=""><p class="icon-facebook"><i class="fa-brands fa-facebook"></i></p></a>
            <a href=""><P class="icon-twitter"><i class="fa-brands fa-twitter"></i></P></a>
            <a href=""><P class="icon-instagram"><i class="fa-brands fa-instagram"></i></P></a>
        </div>
    </div>
    <div class="segunda-parte-footer">
        <div class="contaco">
            <a href=""><p>Contacto</p></a>
            <a href=""><p>Soporte</p></a>
            <a href=""><p>Legal</p></a>
            <a href=""><p>Ofertas de Trabajo</p></a>
        </div>
        <div class="privacidad">
            <a href=""><p>Privacidad</p></a>
            <a href=""><p>Empresa</p></a>
            <a href=""><p>Oficina</p></a>
            <a href=""><p>Politica de cancelacion</p></a>
        </div>
    </div>
    <div class="copyright">
        <p>2022 ACME GAMES corporation. Todos los derechos reservados.</p>
    </div>
</footer>