<header>
    <div class="encabezado">
        <section>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
            <a href="/">
                <img src="/imagenes/imagen-logo.jpg" alt="imagen del logo" class="logo">
            </a>
            <ul>
                <li><a href="/users/register"> Crear cuenta </a></li>
                <li><a href="/users/login"> Iniciar Sesión </a></li>
                <li><a href="/create"> Carrito de Compras </a></li>
            </ul>
        </section>
    </div>
    <nav>
        <ul class="barra">
            <a href="#"><li>Tienda</li></a>
            <a href="#"><li>Oferta</li></a>
            <a href="#"><li>Historial</li></a>
            <a href="#"><li>Ayuda</li></a>
            <li><div class="store-search">
                <form action="/search" method="get">
                    <div class="searchbox">
                        <input type="text" name="query"  placeholder="buscar..."></input>
                        <button type="submit" class="submit"><span><i class="fa fa-search"></i></span></button>
                    </div>
                </form>
                </div>
            </li>
        </ul>
    </nav>
</header>