<header>
    <div class="encabezado">
        <section>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
            <a href="/">
                <img src="/imagenes/imagen-logo.jpg" alt="imagen del logo" class="logo">
            </a>
            <ul>
                <li><a href="/register"> Crear cuenta </a></li>
                <li><a href="/login"> Iniciar Sesión </a></li>
                <li><a href="/create"> Carrito de Compras </a></li>
            </ul>
        </section>
    </div>
    <nav>
        <ul class="barra">
            <li><a href="#">Tienda</a></li>
            <li><a href="#">Oferta</a></li>
            <li><a href="#">Historial</a></li>
            <li><a href="#">Ayuda</a></li>
            <li><div class="store-search">
                <form action="buscador" method="get">
                    <div class="searchbox">
                        <label for="">
                            <input type="text" placeholder="buscar..."></input>
                        </label>
                        <button type="submit" class="submit"><span><i class="fa fa-search"></i></span></button>
                    </div>
                </form>
                </div>
            </li>
        </ul>
    </nav>
</header>