<header>
    <div class="encabezado">
        <section>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
            <a href="/">
                <img src="/imagenes/Acme_Games_4.png" alt="imagen del logo" class="logo">
            </a>
            <% if(locals.isLogged) { %>
                <ul>
                    <li class="header-user">
                        <div><%= locals.userLogged.nombre %></div>
                        <div>
                            <img src="<%= locals.userLogged.avatar %>" alt="">
                        </div>
                    </li>
                    <li>
                        <a href="/users/logout">Logout</a>
                    </li>
                    <li><a href="/product/cart"> Carrito de Compras </a></li>
                    <li><a href="/users/edit">Editar usuario</a></li>
                </ul>
            <% }else{ %>
                <ul>
                    <li><a href="/users/register"> Crear cuenta </a></li>
                    <li><a href="/users/login"> Iniciar Sesión </a></li>
                </ul>
            <% } %>
        </section>
    </div>
    <nav>
        <ul class="barra">
            <a href="#"><li>Tienda</li></a>
            <a href="#"><li>Oferta</li></a>
            <a href="#"><li>Historial</li></a>
            <a href="#"><li>Ayuda</li></a>
            <li><div class="store-search">
                <form action="/product/search" method="get">
                    <div class="searchbox">
                        <input type="text" name="query"  placeholder="buscar..."></input>
                        <button type="submit" class="submit"><span><i class="fa fa-search"></i></span></button>
                    </div>
                </form>
                </div>
            </li>
        </ul>
    </nav>
</header>