<div class="explorador">
    <h2>Explorar por categorias</h2>
    <ul>
        <li><a href="http://www.facebook.com">Lo mas vendidos</a></li>
        <li><a href="#">Novedades</a></li>
        <li><a href="#">Proximamente</a></li>
        <li><a href="#">Ofertas </a></li>
    </ul>
    <h2>Explorar por genero</h2>
    <ul>
        <li><a href="">Accion</a></li>
        <li><a href="">Arcade</a></li>
        <li><a href="">Aventura</a></li>
        <li><a href="">Carreras</a></li>
        <li><a href="">Deportes</a></li>
        <li><a href="">Estrategia</a></li>
        <li><a href="">Infantil</a></li>
        <li><a href="">Roll</a></li>
        <li><a href="">Terror</a></li>
    </ul>
    <h2>Explorar por la plataforma</h2>
    <ul>
        <li><a href="">Mobile</a></li>
        <li><a href="">Nintendo Switch</a></li>
        <li><a href="">PC</a></li>
        <li><a href="">Playstation</a></li>
        <li><a href="">Xbox One</a></li>
    </ul>
</div>