<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Bienvenido a Acme</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
    <div class="todo">
        <%- include('../partials/nav-explorador') %>
        <section class="destacados">
            <h2>DESTACADOS</h2>
            <div class="banner">
                <a href="/productDetail"><img src="/imagenes/fifa-2022.jpg" class="foto-principal"></a>
                <div class="imagenes-banner">
                    <div id="videos">
                        <a href="/productDetail">
                            <video loop muted autoplay class="video-principal">
                                <source src="/imagenes/trailer-fifa22.mp4" type="video/mp4">
                            </video>
                        </a>
                    </div>
                    <div id="cs">
                        <a href="/productDetail"><img src="/imagenes/gran-turismo.jpg" alt=""></a>
                    </div>
                    <div id="dota">
                        <a href="/productDetail"><img src="/imagenes/dota-2.jpg" alt=""></a>
                    </div>
                    <div id="nba">
                        <a href="/productDetail"><img src="/imagenes/nba-2k20.jpg" alt=""></a>
                    </div>
                </div>
            </div>
            <h2>OFERTAS ESPECIALES</h2>
            <div class="ofertas-especiales">
                <div>
                    <a href="#cs"><img src="/imagenes/gran-turismo.jpg"></a>
                </div>
                <div>
                    <a href="#dota"><img src="/imagenes/dota-2.jpg"></a>
                </div>
                <div>
                    <a href="#nba"><img src="/imagenes/nba-2k20.jpg"></a>
                </div>
            </div>
            <div class="banner-iniciar-sesion">
                <p>Inicia sesion para ver recomendaciones personalizadas</p>
                <a href="/login" class="button-iniciar-sesion"><span>Iniciar sesion</span></a>
                <p>O <a href="/register">registrate</a> y unete a Acme games</p>
            </div>
            <section class="otros-juegos">
                <h2>OTROS JUEGOS</h2>
                <div class="juegos">
                    <article>
                        <a href="">
                        <img src="/imagenes/world-of-warcraft.jpg" alt="">
                        <div class="main-class">
                            <h3>World of Warcraft</h3>
                            <div class="plataformas"> 
                                <p><i class="fa-solid fa-desktop"></i></p> 
                            </div>
                            <div class="descuento-precio">
                                <p class="descuento">40%</p>
                                <p class="precio">5.000$</p>
                            </div>
                        </div>
                        </a>
                    </article>
                    <article>
                        <a href="">
                        <img src="/imagenes/gran-turismo.jpg" alt="">
                        <div class="main-class">
                            <h3>Gran Turismo</h3>
                            <div class="plataformas">
                                <p><i class="fa-solid fa-desktop"></i></p>
                                <p><i class="fa-brands fa-playstation"></i></p>
                                <p><i class="fa-brands fa-xbox"></i></p>
                            </div>
                            <div class="descuento-precio">
                                <p class="descuento">20%</p>
                                <p class="precio">12.400$</p>
                            </div>
                        </div>
                        </a>
                    </article>
                    <article>
                        <a href="">
                        <img src="/imagenes/stardew-valley.jpg" alt="">
                        <div class="main-class">
                            <h3>Stardew Valley</h3>
                            <div class="plataformas">
                                <p><i class="fa-solid fa-desktop"></i></p>
                                <p><i class="fa-brands fa-playstation"></i></p>
                                <p><i class="fa-brands fa-xbox"></i></p>
                                <p><i class="fa-brands fa-apple"></i></p>
                                <p><i class="fa-brands fa-android"></i></p>
                            </div>
                            <div class="descuento-precio">
                                <p class="descuento">67%</p>
                                <p class="precio">3.750$</p>
                            </div>
                        </div>
                        </a>
                    </article>
                    <article>
                        <a href="">
                        <img src="/imagenes/league-of-legends.jpg" alt="">
                        <div class="main-class">
                            <h3>League Of Legends</h3>
                            <div class="plataformas">
                                <p><i class="fa-solid fa-desktop"></i></p>
                            </div>
                            <div class="descuento-precio">
                                <p class="descuento">67%</p>
                                <p class="precio">3.750$</p>
                            </div>
                        </div>
                        </a>
                    </article>
                    <article>
                        <a href="">
                        <img src="/imagenes/terraria.jpg" alt="">
                        <div class="main-class">
                            <h3>Terraria</h3>
                            <div class="plataformas">
                                <p><i class="fa-solid fa-desktop"></i></p>
                                <p><i class="fa-brands fa-playstation"></i></p>
                                <p><i class="fa-brands fa-xbox"></i></p>
                                <p><i class="fa-brands fa-apple"></i></p>
                                <p><i class="fa-brands fa-android"></i></p>
                            </div>
                            <div class="descuento-precio">
                                <p class="descuento">67%</p>
                                <p class="precio">3.750$</p>
                            </div>
                        </div>
                        </a>
                    </article>
                    <article>
                        <a href="">
                        <img src="/imagenes/minecraft.jpeg" alt="">
                        <div class="main-class">
                            <h3>Minecraft </h3>
                            <div class="plataformas">
                                <p><i class="fa-solid fa-desktop"></i></p>
                                <p><i class="fa-brands fa-playstation"></i></p>
                                <p><i class="fa-brands fa-xbox"></i></p>
                                <p><i class="fa-brands fa-apple"></i></p>
                                <p><i class="fa-brands fa-android"></i></p>
                            </div>
                            <div class="descuento-precio">
                                <p class="descuento">67%</p>
                                <p class="precio">3.750$</p>
                            </div>
                        </div>
                        </a>
                    </article>
                    <article>
                        <a href="">
                        <img src="/imagenes/left-for-dead-2.jpg" alt="">
                        <div class="main-class">
                            <h3>Left For Dead 2</h3>
                            <div class="plataformas">
                                <p><i class="fa-solid fa-desktop"></i></p>
                                <p><i class="fa-brands fa-playstation"></i></p>
                                <p><i class="fa-brands fa-xbox"></i></p>
                            </div>
                            <div class="descuento-precio">
                                <p class="descuento">25%</p>
                                <p class="precio">129$</p>
                            </div>
                        </div>
                        </a>
                    </article>
                    <article>
                        <a href="">
                        <img src="/imagenes/elden-ring.jpg" alt="">
                        <div class="main-class">
                            <h3>Elden Ring</h3>
                            <div class="plataformas">
                                <p><i class="fa-solid fa-desktop"></i></p>
                                <p><i class="fa-brands fa-playstation"></i></p>
                                <p><i class="fa-brands fa-xbox"></i></p>
                            </div>
                            <div class="descuento-precio">
                                <p class="descuento">10%</p>
                                <p class="precio">4.999$</p>
                            </div>
                        </div>
                        </a>
                    </article>
                    <article>
                        <a href="">
                        <img src="/imagenes/raft.jpg" alt="">
                        <div class="main-class">
                            <h3>Raft</h3>
                            <div class="plataformas">
                                <p><i class="fa-solid fa-desktop"></i></p>
                                <p><i class="fa-brands fa-playstation"></i></p>
                                <p><i class="fa-brands fa-xbox"></i></p>
                            </div>
                            <div class="descuento-precio">
                                <p class="descuento">15%</p>
                                <p class="precio">224$</p>
                            </div>
                        </div>
                        </a>
                    </article>
                </div>
            </section>
        </section>
    </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>