<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Perfil</title>
</head>

<header>
    <%- include('../partials/header') %>
</header>

<footer>
    <%- include('../partials/footer') %>
</footer>