<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a Acme</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/2da8e91210.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="encabezado">
            <section>
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
                <img src="/imagenes/imagen-logo.jpg" alt="imagen del logo" class="logo">
            </section>
        </div>
        <nav>
            <ul class="barra">
                <li><a href="#">Tienda</a></li>
                <li><a href="#">Oferta</a></li>
                <li><a href="#">Historial</a></li>
                <li><a href="#">Ayuda</a></li>
                <li><div>
                    <div class="input">Barra de busqueda</div>
                    <div class="submit"><i class="fa fa-search"></i></div>
                </div>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="explorador">
            <h2>Explorar por categorias</h2>
            <ul>
                <li><a href="#">Lo mas vendidos</a></li>
                <li><a href="#">Novedades</a></li>
                <li><a href="#">Proximamente</a></li>
                <li><a href="#">Ofertas </a></li>
            </ul>
            <h2>Explorar por genero</h2>
            <ul>
                <li><a href="">Accion</a></li>
                <li><a href="">Arcade</a></li>
                <li><a href="">Aventura</a></li>
                <li><a href="">Carreras</a></li>
                <li><a href="">Deportes</a></li>
                <li><a href="">Estrategia</a></li>
                <li><a href="">Infantil</a></li>
                <li><a href="">Roll</a></li>
                <li><a href="">Terror</a></li>
            </ul>
            <h2>Explorar por la plataforma</h2>
            <ul>
                <li><a href="">Mobile</a></li>
                <li><a href="">Nintendo Switch</a></li>
                <li><a href="">PC</a></li>
                <li><a href="">Playstation</a></li>
                <li><a href="">Xbox One</a></li>
            </ul>
        </div>
        <section class="destacados">
            <h2>DESTACADOS</h2>
            <article>
                <img src="/imagenes/fifa-2022.jpg" alt="foto del fifa 2022">
            </article>
            <h2>OFERTAS ESPECIALES</h2>
            <div class="ofertas-especiales">
                <img src="/imagenes/counter-strike.jpg" alt="">
                <img src="/imagenes/dota-2.jpg" alt="">
                <img src="/imagenes/nba-2k20.jpg" alt="">
            </div>
            <div class="banner-iniciar-sesion">
                <p>Inicia sesion para ver recomendaciones personalizadas</p>
                <a href="/login" class="button-iniciar-sesion"><span>Iniciar sesion</span></a>
                <p>O <a href="">registrate</a> y unete a Acme games</p>
            </div>
            <section class="otros-juegos">
                <h2>OTROS JUEGOS</h2>
                <div class="juegos">
                    <article>
                        <img src="/imagenes/world-of-warcraft.jpg" alt="">
                        <div class="main-class">
                            <h3>World of Warcraft</h3>
                            <div class="plataformas"> 
                                <p><i class="fa-solid fa-desktop"></i></p> 
                            </div>
                            <div class="descuento-precio">
                                <p class="descuento">40%</p>
                                <p class="precio">5.000$</p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <img src="/imagenes/gran-turismo.jpg" alt="">
                        <div class="main-class">
                            <h3>Gran Turismo</h3>
                            <div class="plataformas">
                                <p><i class="fa-solid fa-desktop"></i></p>
                                <p><i class="fa-brands fa-playstation"></i></p>
                                <p><i class="fa-brands fa-xbox"></i></p>
                            </div>
                            <div class="descuento-precio">
                                <p class="descuento">20%</p>
                                <p class="precio">12.400$</p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <img src="/imagenes/stardew-valley.jpg" alt="">
                        <div class="main-class">
                            <h3>Stardew Valley</h3>
                            <div class="plataformas">
                                <p><i class="fa-solid fa-desktop"></i></p>
                                <p><i class="fa-brands fa-playstation"></i></p>
                                <p><i class="fa-brands fa-xbox"></i></p>
                                <p><i class="fa-brands fa-apple"></i></p>
                                <p><i class="fa-brands fa-android"></i></p>

                            </div>
                            <div class="descuento-precio">
                                <p class="descuento">67%</p>
                                <p class="precio">3.750$</p>
                            </div>
                        </div>
                    </article>
                </div>
            </section>
        </section>
    </main>
    <footer>
        <div class="pie-pagina">
            <p>Visita otros canales de ACME GAMES</p>
            <div class="iconos">
                <P><i class="fa-brands fa-facebook"></i></P>
                <P><i class="fa-brands fa-twitter"></i></P>
                <P><i class="fa-brands fa-instagram"></i></P>
            </div>
        </div>
    </footer>
</body>
</html>